/* LoginSignup.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f9f6;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logobox {
  background-color: #f5f9f6;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.signin-page-logo {
  height: 50px;
  margin-right: 1rem;
  margin-bottom: 0.7rem;
}

.signin-page-logo-text {
  font-size: 1.8rem;
  color: #2e7d32;
  font-weight: bold;
}

.card {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
}

.title {
  margin-bottom: 1.5rem;
  color: #2e7d32;
  text-align: center;
}

.form-group {
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #333;
}

.input {
  padding: 0.75rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.button {
  width: 100%;
  padding: 0.75rem;
  background-color: #43a047;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button.hover {
  background-color: #388e3c;
}

.toggle-text {
  margin-top: 1rem;
  text-align: center;
}

.toggle-button {
  background: none;
  border: none;
  color: #2e7d32;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  margin-left: 5px;
}
.alt-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: white;
  font-weight: 600;
  margin-top: 0.5rem;
  cursor: pointer;
  width: 100%;
}
.google-logo {
  height: 20px;
  margin-right: 1rem;
}
.continue {
  display: flex;
  justify-content: center;
}
